<div class="wrapper">
    <div class="header">
        <button mat-stroked-button color="primary" (click)="openAddTodoDialog()">Add todo</button>
        <div class="search">
            <app-search-todo (searchTodo)="onSearchTodo($event)"></app-search-todo>
        </div>
    </div>
    
    <app-filter-todo [users]="users" (filterTodoList)="onFilterTodoList($event)"
        (filterTodoByAuthor)="onFilterTodoByAuthor($event)">
    </app-filter-todo>

    <div class="mat-elevation-z8">
        <table class="todolist-table" mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>Select</th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (change)="toggleCompleted(row)" [checked]="row.completed"
                        [aria-label]="row.id">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let row; let i = index;">{{paginator.pageSize * paginator.pageIndex + i + 1}}
                </td>
            </ng-container>

            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Author</th>
                <td mat-cell *matCellDef="let todo">{{todo.username}}</td>
            </ng-container>

            <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
                <td mat-cell *matCellDef="let todo">{{todo.created | date:'d LLLL y'}}</td>
            </ng-container>

            <ng-container matColumnDef="dueDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Due date</th>
                <td mat-cell *matCellDef="let todo">{{todo.dueDate | date:'d LLLL y'}}</td>
            </ng-container>

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
                <td mat-cell *matCellDef="let todo">{{todo.title}}</td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let todo">
                    <button mat-button color="primary" (click)="openEditDialog(todo)">Edit</button>
                    <button mat-button color="primary" (click)="openDeleteDialog(todo)">Delete</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
    </div>
</div>