.wrapper {
    margin: 15px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;

    @media all and (max-width: 992px) {
        flex-direction: column;
    }
}

.side-menu {
    flex: 25%;
}

.todolist-wrapper {
    flex: 75%;
}

.todolist {
    width: 100%;
}

.icon-green {
    color: #28a745;
}

.icon-yellow {
    color: #ffc107;
}