.delete-popup {
    text-align: center;
}

.message {
    font-size: 30px;
    margin: 30px 0 56px 0;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
}

.btn-close {
    background-color: #acb5bd;
}